/* Общие стили */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Стили для шапки */

header {
  background-color: #882d12;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

/* Стили для навигации */

nav {
  background-color: #000000;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #ff0000;
  text-decoration: none;
}

/* Стили для основного содержимого */

main {
  background-color: #882d12;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  margin-top: 0;
}

/* Стили для подвала */

footer {
  background-color: #000000;
  color: #ff0404;
  padding: 20px;
  text-align: center;
}
